<%- include('partials/header'); -%>

<ul class="recipes">
  
  <% if (spares && spares.length !== 0) {%>
		<% spares.forEach((spare) => { %>
			<a class="list" href="/sparePart/<%=spare.id%>"> 
				<li class="recipe">
					<img src= <%= spare.picture %> alt="Image not found">
					<h4><%= spare.name %> </h4>
					<p><%= spare.manufactureCompany %> : <%= spare.manufactureYear %> </p>
					<p>modelNumber: <%= spare.modelNumber %> </p>
					<p>Price: <%= spare.price %> </p>
				</li> 
			</a>			
		<% }) %> 
	<% } else { %>
		<li class="recipe">
			<img src="images/spares/spare-parts.png" alt="404">
			<h4> No spare Parts available!</h4>
            <p>Check again soon.</p>
		</li>
	<% } %> 
</ul>
	<!-- <a href="/smoothies/add" class="btn add">Add Smoothie</a> -->
  

<%- include('partials/footer'); -%>